  <header>
      <h1>
          <a href="http://stack.inria.fr/index.html"><img src="http://stack.inria.fr/img/logostack-white-full.png" width="150px"></a>
      </h1>
      <h2>
          <a href="http://stack.inria.fr/index.html">Software — Stack —  for Massively Geo-Distributed Infrastructures</a>
      </h2>
      <figure>
        <a href="https://www.imt-atlantique.fr/">
          <img src="http://stack.inria.fr/img/logo-imta.png" alt="logo IMT Atlantique" />
        </a>
        <a href="https://www.inria.fr/">
          <img src="http://stack.inria.fr/img/logo-inria.png" alt="logo inria" />
        </a>
        <a href="https://ls2n.fr/">
          <img src="http://stack.inria.fr/img/logo-ls2n.png" alt="logo LS2N" />
        </a>
<!--        <a href="http://www.univ-nantes.fr/">
          <img src="img/logo-univ-nantes.png" alt="logo Université de Nantes" />
        </a>-->
      </figure>
      <!-- <h2> -->
      <!--     Inria team in Nantes -->
      <!-- </h2> -->
      <nav>
	<a href="http://stack.inria.fr/blog/">
          News
        </a>
	<a href="http://stack.inria.fr/blog/category/jobs.html">
          Jobs
        </a>
        <a href="http://stack.inria.fr/members.html">
          Members
        </a>
        <a href="http://stack.inria.fr/papers.html">
          Publications
        </a>
        <a href="http://stack.inria.fr/projects.html">
          Projects
        </a>
        <a href="http://stack.inria.fr/platforms.html">
          Platforms & Software
        </a>
	<a href="http://stack.inria.fr/visit.html">
          Contact
        </a>
      </nav>
  </header>
